<tui-root>
  <kb-spendings></kb-spendings>
  <!-- ngxPlaidLink needs linkToken when instantiating 
  TODO get env and countryCodes from .env file? -->
  <button
    *ngIf="linkToken$ | async as linkToken"
    tuiButton
    ngxPlaidLink
    env="sandbox"
    [token]="linkToken"
    [countryCodes]="['GB']"
    (Success)="onPlaidSuccess($event)"
    (Exit)="onPlaidExit($event)"
    (Load)="onPlaidLoad($event)"
    (Event)="onPlaidEvent($event)"
    (Click)="onPlaidClick($event)"
  >
    Link your Bank Account
  </button>
</tui-root>
